/*
 * 样式常量
 */

$shallow-green: #C3C992;
$shallow-red: #D1BEB2;
$shallow-yellow: #EEE683;
$shallow-gray: #F1EDE4;

$bg-color: #F9F8E4;

$deep-orange: #CB7954;
$deep-green: #648D7D;
$deep-yellow: #594D34;
$deeper-green: #587C6E;


$shallow-opacity-green: #C3C99275;
$shallow-opacity-red: #D1BEB275;
$shallow-opacity-yellow: #EEE68375;
$shallow-opacity-gray: #F1EDE475;

$bg-opacity-color: #F9F8E475;

$deep-opacity-orange: #CB795475;
$deep-opacity-green: #648D7D75;
$deep-opacity-yellow: #594D3475;
$deepe-opacityr-green: #587C6E75;

$max-z-index: 999;
